  .copyright {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0a014f;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-size: 12px;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
  }

